
 <link rel="stylesheet" href="~/css/login.css" />
 

<div class="form-structor">
    <partial name="_Register" />
    <partial name="_Login" />


 </div>
 <script src="~/js/login.js" asp-append-version="true"></script>